{% load staticfiles %}
{% load blog_tags %}
<html>
    <head>
        <title>WenTao blog</title>
        <meta charset="UTF-8">
        <meta name="viewpost" content="width=device-width, initial-scale=1">
		<!--link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/pace.css' %}">
		<link rel="stylesheet" href="{% static 'css/custom.css' %}">
      	<script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
      	<script src="{% static 'js/bootstrap.min.js' %}"></script>
      	<script src="{% static 'js/pace.min.js' %}"></script>
      	<script src="{% static 'js/modernizr.custom.js' %}"></script-->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link rel="stylesheet" href="{% static 'css/highlights/github.css' %}">
    <head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
               	<a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a> 
               	<p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
            <h1><a href="">Wentao Blog</a> </h1>
        </div>
        <div class="copyrights">Collect from <a href="http://www.cssmoban.com/">网页模板</a></div>
        <div class="copyrights">Modified by <a href="http://zmrenwu.com/">追梦人物的博客</a></div>
        <div class="content container">
            <div class="row">
                <main class="col-md-8">
                    {% block content %}
                    {% endblock content %}
                </main>
                <aside class="col-md-4">
                    {% block toc %}
                    {% endblock toc %}
                    <div class="widget widget-recent-posts">
                        <h3 class="widget-title">最新文章</h3>
                        {% get_recent_posts as recent_post_list %}
                        <ul>
                            {% for post in recent_post_list %}
                            <li>
                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            </li>
                            {% empty %}
                            暂无文章!
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="widget widget-archives">
                        <h3 class="widget-title">归档</h3>
                        {% archives as date_list %}
                        <ul>
                            {% for date in date_list %}
                            <li>
                                <a href="{% url 'archives' date.year date.month %}">{{ date.year }} 年 {{ date.month}} 月 </a>
                            </li>
                            {% empty %}
                            暂无文章!
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="widget widget-category">
                        <h3 class="widget-title">分类</h3>
                        {% get_categories as category_list %}
                        <ul>
                            {% for category in category_list %}
                            <li>
                                <!--a href="#">{{ category.name }}<span class="post-count">(13)</span></a-->
                                <a href="{% url 'category' category.pk %}">{{ category.name }}</a>
                            </li>
                            {% empty %}
                            暂无文章!
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="widget widget-tag-cloud">
                        <h3 class="widget-title">标签云</h3>
                        <ul>
                            <li>
                                <a href="#">Django</a>
                            </li>
                            <li>
                                <a href="#">Python</a>
                            </li>
                            <li>
                                <a href="#">Java</a>
                            </li>
                            <li>
                                <a href="#">笔记</a>
                            </li>
                            <li>
                                <a href="#">文档</a>
                            </li>
                            <li>
                                <a href="#">AngularJS</a>
                            </li>
                            <li>
                                <a href="#">CSS</a>
                            </li>
                            <li>
                                <a href="#">JavaScript</a>
                            </li>
                            <li>
                                <a href="#">Snippet</a>
                            </li>
                            <li>
                                <a href="#">jQuery</a>
                            </li>
                        </ul>
                    </div>
                    <div class="rss">
                        <a href=""><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                    </div>
                </aside>
            </div>
        </div>
        <footer id="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="copyright">&copy 2017 - 采集自<a href="http://www.cssmoban.com/"
                                                                target="_blank" title="模板之家">模板之家</a>
                            - 由<a href="http://zmrenwu.com/" title="网页模板" target="_blank">追梦人物的博客</a>修改
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        
        
        <!-- Mobile Menu -->
        <div class="overlay overlay-hugeinc">
            <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
            <nav>
                <ul>
                    <li><a href="{% url 'post_list' %}">首页</a></li>
                    <li><a href="full-width.html">博客</a></li>
                    <li><a href="about.html">关于</a></li>
                    <li><a href="contact.html">联系</a></li>
                </ul>
            </nav>
        </div>
        
        <script src="{% static 'js/script.js' %}"></script>
    </body>

</html>

